.span12.task_well
  %h2 Выслать инструкции для подтверждения
  = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true
    .form-actions
      = f.button :submit, "Выслать инструкции для подтверждения"
  = render "devise/shared/links"
